/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: -webkit-linear-gradient(to bottom right, rgba(27, 67, 75, 0.5), rgba(39, 84, 76, 0.5));
  background-image: -moz-linear-gradient(to bottom right, rgba(27, 67, 75, 0.5), rgba(39, 84, 76, 0.5));
  background-image: linear-gradient(to bottom right, rgba(27, 67, 75, 0.5), rgba(39, 84, 76, 0.5));
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 20px 0;
  box-shadow: 1px 1px 3px 0px;
  margin-bottom: 10px;
  .home {
    width: 25%;
  }
  .links {
    width: 25%;
    display: flex;
    justify-content: space-around;
  }
}

.material_links {
  border: 1px dotted black;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.1);
  padding: 15px;
  margin: 5px;
  box-shadow: 1px 1px 3px 0px;
}

.content {
  border: 1px solid teal;
  border-radius: 5px;
  background-color: rgba(50, 250, 100, 0.3);
  padding: 15px;
  margin: 5px;
  box-shadow: 1px 1px 3px 0px;
}

a {
 text-decoration: none;
 color: rgba(30,30,30,0.9);
 &:hover {
   color: rgba(0,0,0,1);
 }
}

ul {
 padding: 0;
 margin: 25px;
 background-color: rgba(97, 33, 94, 0.25);
 border: 2px solid rgba(68, 15, 66, 0.75);
 border-radius: 25px;
 box-shadow: 1px 1px 3px 0px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 li {
   list-style: none;
   margin: 10px 50px 10px 50px;
 }
}

button {
 padding: 5px 10px 5px 10px;
 margin: 5px;
 border-radius: 5px;
 &:hover {
   box-shadow: 1px 1px 3px 0px black;
   cursor: pointer;
 }
}