@{
  Layout = "_Layout";
}

@model Curriculum.Models.Track

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<p>@Html.ActionLink("Return to details", "Details", new { id = Model.TrackId })</p>
<p>@Html.ActionLink("Back to List", "Index")</p>