<div id="header">
  <div id="left">
    <h3>@Html.ActionLink("Home", "Index", "Home")</h3>
  </div>
  <h3>Travis' Dopest Curriculum</h3>
  <div id="right">
    <h3>@Html.ActionLink("Tracks", "Index", "Tracks")</h3>
    <h3>@Html.ActionLink("Lessons", "Index", "Lessons")</h3>
  </div>
</div>