<h1><%= @user.email %></h1>
<% if @user.profile_picture.attached? %>
  <%= image_tag @user.profile_picture %>
<% else %>
  <h3>No profile picture set</h3>
<% end %>

<div class="material_links">
  <p><%= link_to "Edit", edit_user_path(@user) %></p>
  <p><%= link_to "Delete", user_path(@user),
    :data => {:confirm => "You sure?",
    :method => "delete"} %></p>
</div>