* {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

ul {
  border: 1px dotted rgba(30,30,30,0.3);
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  width: calc(100% - 60px);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(20,20,10,0.75);
  &:hover {
    color: black;
    border-radius: 50%;
    box-shadow: 1px 1px 30px 1px yellow;
    background: radial-gradient(yellow, rgba(255, 255, 0, 0));
  }
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 7.5vh;
  background-color: rgba(25,25,25,0.5);
  #left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
  }
  #right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
  }
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 50px;
  border: 1px solid rgba(0,0,0,0.4);
  background-color: rgba(30,30,30,0.2);
  border-radius: 1vw;
}
#splash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
  padding: 50px;
  border: 1px solid rgba(0,0,0,0.4);
  background-color: rgba(30,30,30,0.2);
  border-radius: 1vw;
}
#tracks, #lessons {
  width: 30%;
}